:root {
    --color-primary: #D9C5C9;
    --color-secondary: #F2CED8;
    --color-accent: #F2C4D5;
    --color-dark: #0A0A0D;
    --color-light: #F2F2F0;
}
body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-item {
    height: 400px;
    background-color: #ddc3c3;
}
.carousel-item {
    height: 100%; /* Establece la altura deseada para el carrusel */
    position: relative; /* Asegura que los elementos hijos se posicionen correctamente */
}

.carousel-item img {
    height: 100%; /* Hace que la imagen ocupe toda la altura del contenedor */
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    object-fit: cover; /* Hace que la imagen se ajuste dentro del contenedor manteniendo sus proporciones */
}

.carousel-caption {
    position: absolute; /* Asegura que el texto de la leyenda se superponga a la imagen */
    top: 50%; /* Centra verticalmente el texto de la leyenda */
    left: 50%; /* Centra horizontalmente el texto de la leyenda */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar el texto */
    background-color: rgba(0, 0, 0, 0.5); /* Agrega un fondo semitransparente al texto de la leyenda */
    padding: 1rem; /* Agrega un poco de relleno alrededor del texto */
    border-radius: 0.5rem; /* Redondea las esquinas del fondo del texto */
}
.carousel-caption-left {
    position: absolute; /* Asegura que la leyenda se posicione absolutamente dentro del contenedor */
    top: 50%; /* La posiciona verticalmente al centro */
    left: 10%; /* La posiciona a la izquierda de la pantalla */
    transform: translateY(-50%);
    width: 35%; /* Limita el ancho del texto al 35% del contenedor principal */
    padding: 2.5rem; /* Agrega relleno alrededor del texto */
    border-radius: 0.5rem; /* Redondea las esquinas del fondo del texto */
    text-align: center;
}
.carousel-caption-left h2 {
    font-size: 2rem; /* Tamaño de la letra */
    line-height: 1.2; /* Interlineado */
    font-weight: bold;
}
section {
    padding: 50px 0;
}
.bg-custom-pink {
    background-color: rgba(242, 196, 213, 0.25); /* Color rosa con 50% de transparencia */
}
#servicios .card {
    border: none;
    transition: transform 0.3s;
}

#servicios .card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.col-md-6 {
    max-width: 400px; /* Ajusta este valor según tu preferencia */
    margin: 0 auto; /* Centrar horizontalmente el contenido */
}

.img-fluid {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
}
.navbar-custom {
    background-color: #F2CED8 !important; /* !important asegura que este estilo sobrescriba las reglas de Bootstrap */
}

.navbar-custom .navbar-nav .nav-link {
    color: #F2F2F0; /* Cambia el color del texto de los enlaces */
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #D9C5C9; /* Cambia el color del texto de los enlaces al pasar el mouse */
}

/* Estilo para el botón de regreso al principio */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Ocultar por defecto */
    background-color: #f764de; /* Cambia el color del fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Ajustar el icono dentro del botón */
#backToTop .bi {
    transform: translateY(-10%); /* Ajusta el valor para mover el icono hacia arriba */
}

#backToTop:hover {
    background-color: #ff02c8; /* Cambia el color del fondo al pasar el ratón por encima */
}
.carousel-inner {
    border-radius: 15px; /* Ajusta el valor según tus necesidades */
    overflow: hidden; /* Asegura que las imágenes no sobresalgan del contenedor con border-radius */
}

.carousel-inner img {
    border-radius: 15px; /* Aplica el borde redondeado a las imágenes */
}